<!DOCTYPE html>
<html data-th-replace="layout/main :: Main-Layout(title='Websites',
																								  pageTitle='Dashboard',
																								  selectGlobal='Websites',
																								  selectSide='dashboard',
																								  selectSideSub=_,
																								  loadUrl=@{/websites/dashboard/load},
																								  fragmentMain=~{:: div#fragmentMain})">
<body>

<div id="fragmentMain">
  {{#websites}}
  <!-- Website teaser -->
  <div class="website-teaser">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="http://placehold.it/52x52" class="website-logo" alt="Website Logo">
        <div class="website-url">
          <small>Company Name</small>
          <a href="http://{{baseUrl}}" target="_blank">
            <i class="fa fa-globe"></i>{{baseUrl}}
          </a>
        </div>
        <a href="#" data-th-href="@{/website/{{id}}/dashboard}" class="website-name">
          {{name}}
        </a>
        <hr/>
        <div class="website-group">
          <div class="first">
            <h5 class="text-gray">Live</h5>
            <span>
								<i class="{{status.cssClass}}"></i>
								<span>{{status.id}}</span>
							</span>
            <span>
								<i class="{{cmsPackage.cssClass}}"></i>
								<span><em>{{cmsPackage.id}}</em></span>
							</span>
            <span>
								<i class="fa fa-file-powerpoint-o"></i>
								<span>X</span>
							</span>
          </div>
          <div class="second">
            <h5 class="text-gray">Actions</h5>
            <a href="#" data-th-href="@{/website/{{id}}/design}">
              <i class="fa fa-paint-brush"></i>
              <span>Designer</span>
              <i class="badge btn-primary">3</i>
            </a>
            <a href="#" data-th-href="@{/website/{{id}}/design-review}">
              <i class="fa fa-delicious"></i>
              <span>Reviewer</span>
              <i class="fa fa-check text-success"></i>
            </a>
            <a href="#" data-th-href="@{/website/{{id}}/content}">
              <i class="fa fa-pencil-square-o"></i>
              <span>Writer</span>
              <i class="badge btn-primary">2.243</i>
            </a>
            <a href="#" data-th-href="@{/website/{{id}}/content-review}">
              <i class="fa fa-magic"></i>
              <span>Reviewer</span>
              <i class="badge btn-danger">99</i>
            </a>
          </div>
        </div>
        <hr/>
        <div class="website-group">
          <div class="first">
            <h5 class="text-gray">Active</h5>
            <span>
								<i class="fa fa-user text-success"></i>
								<span>20</span>
							</span>
            <span>
								<i class="fa fa-eye"></i>
								<span>1h 20min</span>
							</span>
            <span>
								<i class="fa fa-eye-slash"></i>
								<span>20min</span>
							</span>
          </div>
          <div class="second">
            <h5 class="text-gray">Visits</h5>
            <span>
								<i class="fa fa-user"></i>
								<span>59</span>
							</span>
            <span>
								<i class="fa fa-users"></i>
								<span>1.250</span>
							</span>
            <span>
								<i class="fa fa-clock-o"></i>
								<span>25 %</span>
							</span>
          </div>
        </div>

      </div>
    </div> <!-- /.panel -->
  </div> <!-- /.website-teaser -->
  {{/websites}}
</div>

</body>
</html>
