<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="Form-Buttons(group, subGroups, prefix, cancelUrl, cancelScroll, resetUrl, resetScroll, saveUrl, saveScroll, deleteUrl, deleteScroll, spinnerLocation)"
     class="form-group">
  <div class="col-md-offset-3 col-md-6">
    <button data-th-if="${cancelUrl != null}"
            type="button"
            class="btn btn-default"
            id="cancel"
            data-url="/cancel"
            data-method="GET"
            data-th-attr="data-url=${cancelUrl}, data-spinner=${spinnerLocation != null}, data-spinner-location=${spinnerLocation}, data-scroll=${cancelScroll}"
    >
    Cancel
    </button>
    <button data-th-if="${resetUrl != null}"
            type="button"
            class="btn btn-default"
            id="reset"
            data-url="/reset"
            data-method="GET"
            data-th-attr="data-url=${resetUrl}, data-spinner=${spinnerLocation != null}, data-spinner-location=${spinnerLocation}, data-scroll=${resetScroll}"
    >
    Reset
    </button>
    <button data-th-if="${saveUrl != null}"
            type="submit"
            class="btn btn-primary"
            id="submit"
            data-url="/save"
            data-method="POST"
            data-json="true"
            data-group="Group"
            data-th-attr="data-url=${saveUrl}, data-group=${group}, data-sub-groups=${subGroups}, data-prefix=${prefix}, data-spinner=${spinnerLocation != null}, data-scroll=${saveScroll}"
    >
    Save
    </button>
    <button data-th-if="${deleteUrl != null}"
            type="submit"
            class="btn btn-danger pull-right"
            id="delete"
            data-url="/delete"
            data-method="POST"
            data-json="true"
            data-group="Group"
            data-th-attr="data-url=${deleteUrl}, data-group=${group}, data-sub-groups=${subGroups}, data-prefix=${prefix}, data-spinner=${spinnerLocation != null}, data-scroll=${cancelScroll}"
    >
    Delete
    </button>
  </div>
</div>

</body>
</html>