<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="Form-InputLocal(id, field, group, label, labelClass, controlClass)"
     class="form-group"
     data-th-attr="data-group=${group}"
     data-th-id="${id}"
     data-field="true">
  <label class="col-md-3 control-label"
         data-th-class="'col-md-' + ${labelClass == null ? '3' : labelClass} + ' control-label'"
         data-th-text="${label}">
    Label
  </label>
  <input type="hidden"
         data-field="true"
         data-id="id"
         value="Field"
         data-th-attr="data-object=${id}"
         data-th-value="'{{' + ${field} + '.id}}'"/>
  <div class="col-md-6"
       data-field="true"
       data-id="texts"
       data-array="true"
       data-th-attr="data-object=${id}"
       data-th-class="'col-md-' + ${controlClass == null ? '6' : controlClass}">
    {{#[[${field}]].texts}}
    <div class="row local-text"
         data-field="true"
         data-object="texts"
         data-id="localText">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <i class="{{language.cssClass}} data-value"
               data-field="true"
               data-object="localText"
               data-id="language"
               data-value="{{language.id}}"></i>
          </div>
          <div class="col-md-11">
            <input type="hidden"
                   data-field="true"
                   data-object="localText"
                   data-id="id"
                   value="{{id}}">
            <input type="text"
                   class="form-control"
                   placeholder="{{language.id}}"
                   data-field="true"
                   data-object="localText"
                   data-id="value"
                   value="{{value}}">
          </div>
        </div>
      </div>
    </div>
    {{/[[${field}]].texts}}
  </div>
</div>

</body>
</html>
