<!DOCTYPE html>
<html>
<body>

<div data-th-fragment="Form-Select(id, field, fieldValues, group, options, optionValue, optionText, label, labelClass, controlClass, multi)"
     class="form-group">
  <label class="col-md-3 control-label"
         for="id"
         data-th-class="'col-md-' + ${labelClass == null ? '3' : labelClass} + ' control-label'"
         data-th-for="${id}"
         data-th-text="${label}">
    Label
  </label>
  <div class="col-md-6"
       data-th-class="'col-md-' + ${controlClass == null ? '6' : controlClass}">
    <select class="form-control"
            id="id"
            data-group="Group"
            data-field="true"
            data-th-id="${id}"
            data-th-attr="data-group=${group}, data-selected=${fieldValues == null ? '{{' + field + '}}' : '{{#' + field + '}}{{' + fieldValues + '}},{{/' + field + '}}'}, multiple=${multi}"
    >
    {{#[[${options}]]}}
    <option value="this"
            data-th-value="'{{' + ${optionValue == null ? 'this' : optionValue} + '}}'"
            data-th-text="'{{' + ${optionText == null ? (optionValue == null ? 'this' : optionValue) : optionText} + '}}'">
      Option
    </option>
    {{/[[${options}]]}}
    </select>
  </div>
</div>

</body>
</html>