
/************** DEFAULTS **************/

body {
	font-family: Arial,sans-serif;
	margin-bottom: 0;
	padding-top: 70px;
}

li {
	list-style-type: none;
}

img {
	width: 100%;
	height: 100%;
}

.max-width-4 {
	max-width: 400px;
}

/************** FLAGS **************/

.flag {
	background: url('../img/flags.png') no-repeat scroll -4px -621px;
	height: 11px;
	width: 16px;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
}
.flag-algeria { background-position: -116px -145px; }
.flag-argentina { background-position: -256px -5px; }
.flag-austria { background-position: -4px -33px; }
.flag-belarus { background-position: -4px -89px; }
.flag-belgium { background-position: -228px -33px; }
.flag-bosnia-and-herzegovina { background-position: -144px -33px; }
.flag-brazil { background-position: -172px -61px; }
.flag-bulgaria { background-position: -284px -33px; }
.flag-chile { background-position: -284px -89px; }
.flag-columbia { background-position: -60px -117px  }
.flag-costa-rica { background-position:  -88px -117px; }
.flag-croatia { background-position: -172px -229px; }
.flag-cyprus { background-position: -228px -117px; }
.flag-czech-republic { background-position: -256px -117px; }
.flag-denmark { background-position: -32px -145px; }
.flag-england { background-position: -256px -145px; }
.flag-estonia { background-position: -172px -145px; }
.flag-europe { background-position: -228px -593px; }
.flag-finland { background-position: -88px -173px ; }
.flag-france { background-position: -228px -173px ; }
.flag-macedonia { background-position: -116px -341px; }
.flag-georgia { background-position: -32px -201px; }
.flag-germany { background-position: -284px -117px; }
.flag-greece { background-position: -256px -201px; }
.flag-hungary { background-position: -228px -229px; }
.flag-iceland { background-position: -144px -257px; }
.flag-ireland { background-position: -284px -229px; }
.flag-israel { background-position: -4px -257px ; }
.flag-italy { background-position: -172px -257px ; }
.flag-latvia { background-position: -228px -313px; }
.flag-lithuania { background-position: -172px -313px; }
.flag-malta { background-position: -60px -369px ; }
.flag-mexico { background-position: -172px -369px; }
.flag-moldova { background-position: -32px -341px; }
.flag-montenegro { background-position: -32px -621px ; }
.flag-netherlands { background-position: -116px -397px; }
.flag-new-zealand { background-position: -256px -397px; }
.flag-norway { background-position: -144px -397px; }
.flag-paragway { background-position: -60px -453px; }
.flag-peru { background-position: -32px -425px; }
.flag-poland { background-position: -172px -425px; }
.flag-portugal { background-position: -4px -453px; }
.flag-qatar { background-position: -88px -453px; }
.flag-romania { background-position: -116px -453px; }
.flag-russia { background-position: -144px -453px; }
.flag-saudi-arabia { background-position: -200px -453px; }
.flag-scotland { background-position: -284px -453px ; }
.flag-serbia { background-position: -284px -593px; }
.flag-signapore { background-position: -60px -481px; }
.flag-slovakia { background-position: -144px -481px; }
.flag-slovenia { background-position: -116px -481px; }
.flag-spain { background-position: -4px -173px; }
.flag-sweden { background-position: -32px -481px; }
.flag-switzerland { background-position: -200px -89px; }
.flag-turkey { background-position: -116px -537px; }
.flag-ukraine { background-position: -256px -537px; }
.flag-uruguay { background-position: -60px -565px; }
.flag-usa { background-position: -32px -565px; }
.flag-venezuela { background-position: -172px -565px; }
.flag-wales { background-position: -4px -593px; }


/************** LOG IN **************/

.logged-user {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.logged-user img {
	width: 30px;
	display: inline;
	margin-right: 10px;
}

/************** SIDEBAR **************/

.sidebar {
	display: none;
}
@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar>.active>a, 
.nav-sidebar>.active>a:hover, 
.nav-sidebar>.active>a:focus {
	color: #fff;
	background-color: #428bca;
}
.nav-sidebar .fa {
	margin-right: 10px;
}
@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}
