
/************** DEFAULTS **************/

body {
	font-family: Arial,sans-serif;
	font-size: 17px;
	margin-bottom: 0;
	padding-top: 70px;
	background: #F7F7F7;
	color: #555;
}
h1, .h1 {
	font-size: 40px;
}
h4, .h4 {
	font-size: 20px;
}
h5, .h5 {
	font-size: 17px;
}
li {
	list-style-type: none;
}

.page-header {
	margin-top: 0;
	border-color: #ddd;
    font-weight: bold;
}

.disabled,
.disabled>* {
	color: #ccc !important;
}

/************** HELPERS **************/

.max-width-4 {
	max-width: 400px;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.fa {
	margin-right: 7px;
}
.fa-blank {
	width: 20px;
	height: 17px;
	content: ' ';
}

/************** FLAGS **************/

.flag {
	background: url('../img/flags.png') no-repeat scroll -4px -621px;
	height: 11px;
	width: 16px;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
}
.flag-algeria { background-position: -116px -145px; }
.flag-argentina { background-position: -256px -5px; }
.flag-austria { background-position: -4px -33px; }
.flag-belarus { background-position: -4px -89px; }
.flag-belgium { background-position: -228px -33px; }
.flag-bosnia-and-herzegovina { background-position: -144px -33px; }
.flag-brazil { background-position: -172px -61px; }
.flag-bulgaria { background-position: -284px -33px; }
.flag-chile { background-position: -284px -89px; }
.flag-columbia { background-position: -60px -117px  }
.flag-costa-rica { background-position:  -88px -117px; }
.flag-croatia { background-position: -172px -229px; }
.flag-cyprus { background-position: -228px -117px; }
.flag-czech-republic { background-position: -256px -117px; }
.flag-denmark { background-position: -32px -145px; }
.flag-england { background-position: -256px -145px; }
.flag-estonia { background-position: -172px -145px; }
.flag-europe { background-position: -228px -593px; }
.flag-finland { background-position: -88px -173px ; }
.flag-france { background-position: -228px -173px ; }
.flag-macedonia { background-position: -116px -341px; }
.flag-georgia { background-position: -32px -201px; }
.flag-germany { background-position: -284px -117px; }
.flag-greece { background-position: -256px -201px; }
.flag-hungary { background-position: -228px -229px; }
.flag-iceland { background-position: -144px -257px; }
.flag-ireland { background-position: -284px -229px; }
.flag-israel { background-position: -4px -257px ; }
.flag-italy { background-position: -172px -257px ; }
.flag-latvia { background-position: -228px -313px; }
.flag-lithuania { background-position: -172px -313px; }
.flag-malta { background-position: -60px -369px ; }
.flag-mexico { background-position: -172px -369px; }
.flag-moldova { background-position: -32px -341px; }
.flag-montenegro { background-position: -32px -621px ; }
.flag-netherlands { background-position: -116px -397px; }
.flag-new-zealand { background-position: -256px -397px; }
.flag-norway { background-position: -144px -397px; }
.flag-paragway { background-position: -60px -453px; }
.flag-peru { background-position: -32px -425px; }
.flag-poland { background-position: -172px -425px; }
.flag-portugal { background-position: -4px -453px; }
.flag-qatar { background-position: -88px -453px; }
.flag-romania { background-position: -116px -453px; }
.flag-russia { background-position: -144px -453px; }
.flag-saudi-arabia { background-position: -200px -453px; }
.flag-scotland { background-position: -284px -453px ; }
.flag-serbia { background-position: -284px -593px; }
.flag-signapore { background-position: -60px -481px; }
.flag-slovakia { background-position: -144px -481px; }
.flag-slovenia { background-position: -116px -481px; }
.flag-spain { background-position: -4px -173px; }
.flag-sweden { background-position: -32px -481px; }
.flag-switzerland { background-position: -200px -89px; }
.flag-turkey { background-position: -116px -537px; }
.flag-ukraine { background-position: -256px -537px; }
.flag-uruguay { background-position: -60px -565px; }
.flag-usa { background-position: -32px -565px; }
.flag-venezuela { background-position: -172px -565px; }
.flag-wales { background-position: -4px -593px; }


/************** LOG IN **************/

.logged-user {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.logged-user img {
	width: 30px;
	display: inline;
	margin-right: 10px;
}

/************** GLOBAL BAR **************/

.navbar-fixed-top {
	font-size: 17px;
	left: 0px;
}
.navbar-brand {
	display: block;
	padding: 5px 15px;
	font-size: 22px;'
}
.navbar-brand>span {
	vertical-align: super;
}
.navbar-brand>.logo {
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
	width: 48px;
	height: 36px;
	display: inline-block;
}
.navbar-nav>li.website>a {
	border-bottom: 4px solid #60b2ff;
    padding-bottom: 11px;
}

/************** SIDE BAR **************/

.sidebar {
	padding: 20px;
	display: block;
	background-color: #444;
}
@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: 1px solid #ddd;
		width: 330px;
	}
}
@media ( max-width : 767px) {
	.sidebar {
		border-bottom: 1px solid #080808;
		width: 100%;
	}
}
.sidebar h3 {
	color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 30px;
	margin-left: -20px;
}
.nav-sidebar>li>a {
	color: #fff;
	padding: 11px 20px;
	padding-left: 20px;
	font-size: 13px;
	text-transform: uppercase;
}
.nav-sidebar>li>a:hover,
.nav-sidebar>li>a:focus,
.nav-sidebar .nav-sidebar-sub>li>a:hover,
.nav-sidebar .nav-sidebar-sub>li>a:focus {
	background-color: rgba(211, 214, 216, 0.2);
} 
.nav-sidebar>li.active>a, 
.nav-sidebar>li.active>a:hover, 
.nav-sidebar>li.active>a:focus,
.nav-sidebar .nav-sidebar-sub>li.active>a,
.nav-sidebar .nav-sidebar-sub>li.active>a:hover,
.nav-sidebar .nav-sidebar-sub>li.active>a:hover {
	background-color: rgba(211, 214, 216, 0.5);
}
.nav-sidebar .fa {
	font-size: 20px;
	margin-right: 15px;
}

.nav-sidebar .nav-sidebar-sub {
	font-size: 15px;
}
.nav-sidebar .nav-sidebar-sub>li>a {
	color: #fff;
	padding: 7px 30px;
}

/************** SIDE BAR WEBSITE **************/

.sidebar.design {
	background-color: #8e44ad;
}
.sidebar.design-review {
	background-color: #2980b9;
}
.sidebar.content {
	background-color: #27ae60;
}
.sidebar.content-review {
	background-color: #f39c12;
}
.sidebar.publish {
	background-color: #c0392b;
}


/************** MAIN **************/

.main {
	padding: 0 40px;
}


/************** WEBSITE TEASER **************/

.website-teaser {
	width: 500px;
}
@media ( max-width : 768px) {
	.website-teaser {
		width: 100%;
	}
}
.website-teaser .website-logo {
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
}
.website-teaser .website-name {
	display: inline-block;
	width: 295px;
}
.website-teaser .website-name>a {
	display: block;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.website-teaser .website-name>a:hover {
	text-decoration: none;
}
.website-teaser h5 {
	font-weight: bold;
	color: #777;
}
.website-teaser table {
	border-bottom: 1px solid #ddd;
	margin-bottom: 25px;
}
.website-teaser table.last {
	border-bottom: none;
	margin-bottom: 0;
}
.website-teaser table .fa-check,
.website-teaser table .fa-ban {
	font-size: 16px;
	margin-left: 3px;
}
.website-teaser table>tbody>tr>td {
	padding-left: 4px;
	padding-right: 4px;
}
.website-teaser table .no-access {
	color: #bbb;
}
.website-teaser table .no-access p {
	margin: 0;
}

/************** LIGHTS **************/

.light-success {
	border-radius: 8px;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}

.light-warning {
	border-radius: 8px;
	background-color: #ec971f;
	border: 1px solid #d58512;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}

.light-danger {
	border-radius: 8px;
	background-color: #d9534f;
	border: 1px solid #d43f3a;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}

/************** TILE SUM **************/

.tile-sum {
	position: relative;
}
.tile-sum a {
	position: absolute;
    right: 15px;
    top: 6px;
    color: #777;
}
.tile-sum h1 {
	margin: 0 0 20px 0;
	font-weight: bold;
	color: #777;
}
.tile-sum h4 {
	margin-bottom: 0px;
}
