<!DOCTYPE html>
<html>
<head>
  <!--/*-->
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="../../../static/css/bootstrap-3.3.7.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/bootstrap-theme-3.3.7.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/fontawesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../../static/css/site-client.css" type="text/css"/>

  <!-- font -->
  <link rel="stylesheet" href="../../../static/css/font-ptsansnarrow.css" type="text/css"/>

  <!-- package css -->
  <link rel="stylesheet" href="../../../static/css/cmspackage-business.css" type="text/css"/>

  <!-- scripts -->
  <script type="text/javascript" src="../../../static/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../../../static/js/bootstrap-3.3.7.min.js"></script>
  <script type="text/javascript" src="../../../static/js/site-client.js"></script>
  <!--*/-->
</head>
<body>
<div class="Paragraphs-Learn" data-th-fragment="Paragraphs-Learn(designComponent)">

  <div class="row">
    <div class="col-md-4"
         data-th-each="paragraphItem : ${designComponent.contentModels}"
         data-th-class="${designComponent.itemsLayout.cssClass}">
      <div data-th-replace="tag/paragraph :: Paragraph(paragraph=${paragraphItem.paragraph})">
        Paragraph
      </div>
    </div>

    <div class="col-md-4" data-th-remove="all">
      <div>
        Paragraph
      </div>
    </div>
  </div>

</div>
</body>
</html>