<!DOCTYPE html>
<html>
<head>
  <!--/*-->
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="../../static/css/bootstrap-3.3.7.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../static/css/bootstrap-theme-3.3.7.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../static/css/fontawesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="../../static/css/client-site.css" type="text/css"/>

  <!-- font -->
  <link rel="stylesheet" href="../../static/css/font-ptsansnarrow.css" type="text/css"/>

  <!-- package css -->
  <link rel="stylesheet" href="../../static/css/cmspackage-business.css" type="text/css"/>

  <!-- scripts -->
  <script type="text/javascript" src="../../static/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../../static/js/bootstrap-3.3.7.min.js"></script>
  <script type="text/javascript" src="../../static/js/client-site.js"></script>
  <!--*/-->
</head>
<body>
<div data-th-fragment="Paragraph(paragraph)" class="paragraph">

  <div class="row"
       data-th-if="${paragraph.media == null}">
    <div class="col-md-12 text-left"
         data-th-class="'col-md-12 ' + ${paragraph.align.textCssClass}"
         data-th-utext="${{paragraph.text}}">
      Paragraph text...
    </div>
  </div>

  <div data-th-if="${paragraph.media != null}"
                 data-th-switch="${paragraph.layout.id}">

    <div class="row"
         data-th-case="'TextRightMediaLeft'">
      <div class="col-md-6">
        <img src="../../static/img/stub/a1.jpg"
             data-th-replace="tag/media :: Media(media=${paragraph.media})" />
      </div>
      <div class="col-md-6 text-left"
           data-th-class="'col-md-6 ' + ${paragraph.align.textCssClass}">
        <div data-th-utext="${{paragraph.text}}">Paragraph text...</div>
        <a href="#" class="cms-button" data-th-replace="tag/link :: Link(link=${paragraph.link})">Link</a>
      </div>
    </div>

    <div data-th-case="'TextLeftMediaRight'" class="row">
      <div class="col-md-6 text-left"
           data-th-class="'col-md-6 ' + ${paragraph.align.textCssClass}">
        <div data-th-utext="${{paragraph.text}}">Paragraph text...</div>
        <a href="#" class="cms-button" data-th-replace="tag/link :: Link(link=${paragraph.link})">Link</a>
      </div>
      <div class="col-md-6">
        <img src="../../static/img/stub/a2.jpg"
             data-th-replace="tag/media :: Media(media=${paragraph.media})" />
      </div>
    </div>

    <div data-th-case="'TextBottomMediaTop'">
      <div class="row">
        <div class="col-md-12">
          <img src="../../static/img/stub/a3.jpg"
               data-th-replace="tag/media :: Media(media=${paragraph.media})" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-left" data-th-class="'col-md-12 ' + ${paragraph.align.textCssClass}">
          <div data-th-utext="${{paragraph.text}}">Paragraph text...</div>
          <a href="#" class="cms-button" data-th-replace="tag/link :: Link(link=${paragraph.link})">Link</a>
        </div>
      </div>
    </div>

    <div data-th-case="'TextTopMediaBottom'">
      <div class="row">
        <div class="col-md-12 text-left" data-th-class="'col-md-12 ' + ${paragraph.align.textCssClass}">
          <div data-th-utext="${{paragraph.text}}">Paragraph text...</div>
          <a href="#" class="cms-button" data-th-replace="tag/link :: Link(link=${paragraph.link})">Link</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" data-th-insert="tag/media :: Media(media=${paragraph.media})">
          <img src="../../static/img/stub/a4.jpg"
               data-th-replace="tag/media :: Media(media=${paragraph.media})" />
        </div>
      </div>
    </div>

    <div data-th-case="'TextInFrontMediBehind'" class="row">
      <div class="col-md-12 media-behind text-left" data-th-class="'col-md-12 media-behind ' + ${paragraph.align.textCssClass}">
        <img src="../../static/img/stub/a5.jpg"
             data-th-replace="tag/media :: Media(media=${paragraph.media})" />
        <div data-th-utext="${{paragraph.text}}">Paragraph text...</div>
        <a href="#" class="cms-button" data-th-replace="tag/link :: Link(link=${paragraph.link})">Link</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>
