<!DOCTYPE html>
<html data-th-replace="layout/main :: Main-Layout(title='Administration',
																									pageTitle='Dashboard',
																									selectGlobal='Admin',
																									selectSide='dashboard',
																									selectSideSub=_,
																									loadUrl=@{/admin/dashboard/load},
																									fragmentMain=~{:: div#fragmentMain})">
<body>

<div id="fragmentMain" class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4>Label</h4>
    <span class="text-muted">{{user.email}}</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4>Label</h4>
    <span class="text-muted" data-th-text="${session.userSettings.selectedWebsiteId}">selected website id</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>

</body>
</html>