<!DOCTYPE html>
<html data-th-replace="layout/tree :: Tree-Layout(title='Administration | Websites Groups',
																									pageTitle='Websites Groups',
																									selectGlobal='Admin',
																									selectSide='websites-groups',
																									selectSideSub=_,
																									loadUrl=@{/admin/websites-groups/load},
																									fragmentMain=~{:: div#fragmentMain},
																									fragmentMainNode=~{:: div#fragmentMainNode},
																									fragmentNode=~{:: div#fragmentNode},
																									fragmentSubNode=~{:: div#fragmentSubNode})">
<body>

<div id="fragmentMain" class="panel panel-default">
  <div class="panel-body">

    <div data-th-replace="tag/table/tree :: Table-Tree(pageUrl=@{/admin/websites-groups})">
      Tree Table
    </div>

  </div>
</div> <!-- /.panel -->

<div id="fragmentMainNode">
  <!-- not supported -->
</div>

<div id="fragmentNode" class="panel panel-default">
  <div class="panel-body">
    {{#websiteGroup}}
    <form class="form-horizontal">
      <div data-th-replace="tag/form/input_static :: Form-InputStatic(id='id', field='id', group='websiteGroup', label='ID',
                                                                      labelClass=null, controlClass=null)">ID</div>
      <div data-th-replace="tag/form/input_static :: Form-InputStatic(id='websiteId', field='websiteId', group='websiteGroup', label='Website',
                                                                      labelClass=null, controlClass=null)">Website</div>
      <div data-th-replace="tag/form/input :: Form-Input(id='name', field='name', group='websiteGroup', label='Name',
                                                         type=_, labelClass=null, controlClass=null)">Name</div>
      <div data-th-replace="tag/form/checkbox :: Form-Checkbox(id='master', field='master', group='websiteGroup', label='Master',
                                                               labelClass=null, controlClass=null)">Master</div>
      <div data-th-replace="tag/form/buttons :: Form-Buttons(group='websiteGroup', subGroups=_,
																														 cancelUrl=@{/admin/websites-groups/tree/cancel}, cancelScroll='#main',
																														 resetUrl=@{/admin/websites-groups/tree/node/} + '{{websiteId}}/{{id}}/edit', resetScroll=_,
																														 saveUrl=@{/admin/websites-groups/tree/node/} + '{{websiteId}}/save', saveScroll='#main',
																														 deleteUrl=null, deleteScroll=_,
																														 spinnerLocation=null)">Buttons</div>
    </form>
    {{/websiteGroup}}
  </div>
</div> <!-- /.panel -->

<div id="fragmentSubNode" class="panel panel-default">
  <div class="panel-body">
    {{#websiteUser}}
    <form class="form-horizontal">
      <div data-th-replace="tag/form/input_static :: Form-InputStatic(id='id', field='id', group='websiteUser', label='ID',
                                                                      labelClass=null, controlClass=null)">ID</div>
      <div data-th-replace="tag/form/input_static :: Form-InputStatic(id='websiteId', field='websiteId', group='websiteUser', label='Website',
                                                                      labelClass=null, controlClass=null)">Website</div>
      <div data-th-replace="tag/form/input_static :: Form-InputStatic(id='websiteGroupId', field='websiteGroupId', group='websiteUser', label='Website Group',
                                                                      labelClass=null, controlClass=null)">Website Group</div>
      <div data-th-replace="tag/form/select :: Form-Select(id='userId', field='userId', group='websiteUser',
																							             options='../allUsers', optionValue='id', optionText='fullName',
																							             label='User',
																							             fieldStyle=_, optionStyle=_,
																							             fieldValues=null, labelClass=null, controlClass=null, multi=_)">User</div>
      <div data-th-replace="tag/form/select :: Form-Select(id='powerGroup', field='powerGroup', group='websiteUser',
																							             options='../powerGroups',
																							             label='Power Group',
																							             fieldStyle=_, optionStyle=_,
																							             fieldValues=null, optionValue=null, optionText=null, labelClass=null, controlClass=null, multi=_)">Power Group</div>
      <div data-th-replace="tag/form/select :: Form-Select(id='language', field='language.id', group='websiteUser',
																							             options='../languages', optionValue='id',
																							             label='Language',
																							             fieldStyle=_, optionStyle=_,
																							             fieldValues=null, optionText=null, labelClass=null, controlClass=null, multi=_)">Language</div>
      <div data-th-replace="tag/form/input_local :: Form-InputLocal(id='jobPosition', field='jobPosition', group='jobPosition', label='Job Position',
                                                                    labelClass=null, controlClass=null)">Job Position</div>
      <div data-th-replace="tag/form/input_local :: Form-InputLocal(id='biography', field='biography', group='biography', label='Biography',
                                                                    labelClass=null, controlClass=null)">Biography</div>
      <div data-th-replace="tag/form/buttons :: Form-Buttons(group='websiteUser', subGroups='jobPosition,biography',
																														 cancelUrl=@{/admin/websites-groups/tree/cancel}, cancelScroll='#main',
																														 resetUrl=@{/admin/websites-groups/tree/node/} + '{{websiteId}}/{{websiteGroupId}}/{{id}}/edit', resetScroll=_,
																														 saveUrl=@{/admin/websites-groups/tree/node/} + '{{websiteId}}/{{websiteGroupId}}/save', saveScroll='#main',
																														 deleteUrl=null, deleteScroll=_,
																														 spinnerLocation=null)">Buttons</div>
    </form>
    {{/websiteUser}}
  </div>
</div> <!-- /.panel -->

</body>
</html>
