
/************** DEFAULTS **************/
body {
	font-family: Arial,sans-serif;
	font-size: 15px;
	margin-bottom: 0;
	padding-top: 70px;
	background: #F7F7F7;
	color: #555;
}
.max-width-4 {
	max-width: 400px;
}

/************** LOG IN **************/
.logged-user {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.logged-user img {
	width: 30px;
	display: inline;
	margin-right: 10px;
}
