
/************** DEFAULTS **************/

body a {
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	text-decoration: none;
	color: #333;
}
a:hover,
a:focus {
	text-decoration: none;
}

.header-position {
	padding-bottom: 80px;
}
.design-component {
	padding: 80px 0;
}
.footer-position {
	padding-top: 80px;
}

.cms-button {
	padding: 11px 24px;
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
.cms-button .fa {
	padding: 0 10px 0 0;
	font-size: 20px;
}

.label {
	font-weight: normal;
	font-size: 90%;
}

/************** LEARN **************/

/*-- Header --*/
.Header-Learn .navbar {
	border-radius: 0px;
	background-image: none;
	border: none;
	min-height: 100%;
	margin-bottom: 0;
}
.Header-Learn .navbar-nav>li>a {
	font-weight: 300;
}
.Header-Learn .navbar-nav>li>a span {
	display: block;
}
.Header-Learn .navbar-nav {
	margin: 0;
	float: right;
}
.Header-Learn .navbar-brand {
	padding: 0;
	margin: 20px 0 0 0;
	padding-left: 15px;
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 500;
}
.Header-Learn .navbar-nav>li>a {
	padding: 10px 15px;
	text-align: center;
	font-weight: 100;
	font-size: 15px;
}
.Header-Learn .dropdown-menu li a {
	padding: 8px 15px;
	font-weight: 300;
	color: #000;
}
.Header-Learn .dropdown-menu {
	right: 0 !important;
	left: inherit;
	border-top-width: 0;
}
.Header-Learn .dropdown>a:hover,
.Header-Learn .open>a {
	box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}
.Header-Learn .search-form {
	padding: 15px;
	width: 225px;
}
.Header-Learn .search-form input[type="text"] {
	width: 100%;
	height: 30px;
	line-height: 20px;
	border: none;
	padding: 5px 15px;
	border-radius: 0;
	outline: none;
}
.Header-Learn .search-form .search-submit {
	border: 0;
	padding: 0;
	position: absolute;
	right: 27px;
	top: 20px;
	background: none;
	line-height: 20px;
}
.Header-Learn .badge {
	position: absolute;
	top: 5px;
	right: 13px;
}

/*-- Navigation --*/
.Navigation-Learn .navbar {
	margin-bottom: 0;
	min-height: 0;
}
.Navigation-Learn .navbar-collapse {
	padding-left: 0;
}
.Navigation-Learn ul.navbar-nav {
	float:none;
}
.Navigation-Learn .navbar-nav>li>.dropdown-menu li {
	margin-right:0px;
}
.Navigation-Learn ul.navbar-nav li.last {
	margin-right:0;
}
.Navigation-Learn .navbar-nav > li > a {
    padding: 10px 8px;
    font-weight: 100;
    font-size: 15px;
}
.Navigation-Learn .dropdown-menu li a {
	padding: 8px 15px;
	font-weight: 300;
	color: #000;
}

/*-- Footer --*/
.Footer-Learn {
	margin: 0px;
}
.Footer-Learn .footer-wrap {
	padding: 20px 0;
}
.Footer-Learn a {
	margin: 0px;
}
.Footer-Learn a>i {
	font-size: 30px !important;
	padding: 0 !important;
}
.Footer-Learn .footer-left ul {
	margin: 0;
	padding: 0;
}
.Footer-Learn .footer-left ul li {
	list-style: none;
	display: inline-block;
}
.Footer-Learn .footer-right {
	text-align: right;
	margin-top: 18px;
	font-size: 13px;
}
@media (max-width:995px){
	.Footer-Learn .footer-right {
		text-align: left;
	}
}

/*-- Titles --*/
.Titles-Learn {
	padding-bottom: 0px;
	margin-bottom: -40px;
}
.Titles-Learn h1 {
	font-size: 48px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/*-- Paragraphs --*/
.Paragraphs-Learn {
	margin: 0px;
}
.Paragraphs-Learn .paragraph {
	margin-bottom: 20px;
}
.Paragraphs-Learn .paragraph img {
	margin-top: 20px;
}
.Paragraphs-Learn .paragraph .media-behind img {
	position: absolute;
	z-index: -1;
}

/*-- Jumbotron --*/
.Jumbotron-Learn {
	width: 100%;
	height: 100%;
}
.Jumbotron-Learn h3 {
	font-size: 60px;
	font-weight: 500;
}
.Jumbotron-Learn p {
	font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.Jumbotron-Learn .img-wrap {
	background-color: #000;
	text-align: center;
}
.Jumbotron-Learn img {
	opacity: 0.8;
	height: 100%;
	width: 100%;
}
@media (max-width:1800px) {
	.Jumbotron-Learn img {
		height: 630px;
		width: inherit;
	}
}
.Jumbotron-Learn .carousel-caption {
	top: 10%;
}

/*-- Highlights --*/
.Highlights-Learn {
	margin: 0px;
}
.Highlights-Learn .highlight-text {
	background: #fff;
	padding: 52px 15px;
	border: 2px solid transparent;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
}
.Highlights-Learn .highlight-text h3 {
	text-align: center;
	font-weight: 600;
	margin: 0;
}
.Highlights-Learn .highlight-text p {
	margin-top: 14px;
	text-align: center;
	line-height: 32px;
}
.Highlights-Learn .highlight-icon span {
	position: absolute;
	font-size: 27px;
	border-radius: 100%;
	padding: 20px 20px;
	top: -37px;
	text-align: center;
	left: 37%;
}
@media (max-width:995px) {
	.Highlights-Learn .highlight-item {
		margin-bottom: 40px;
	}
	.Highlights-Learn .highlight-icon span {
		left: 45%;
	}
}

/*-- Contact Info --*/
.ContactInfos-Learn {
	margin-bottom: 0px;
}
.ContactInfos-Learn .contact {
	margin-top: 20px;
}
.ContactInfos-Learn .contact-part {
	float: left;
	width: 250px;
}
.ContactInfos-Learn .contact-part > div {
	display: inline-block;
}
.ContactInfos-Learn i {
	float: left;
	font-size: 30px;
	width: 40px;
}
.ContactInfos-Learn p {
	line-height: 28px;
}

/*-- CMS label --*/
.Feed-Learn .img-wrap {
	position: relative;
	display: block;
}
.Feed-Learn .cms-label {
	position: absolute;
	left: 0px;
	top: 50px;
	padding: 5px 29px;
}

/*-- Feed --*/
.Feed-Learn {
	margin: 0px;
}
.Feed-Learn .feed {
	margin-bottom: 40px;
	background: #fff;
	padding: 10px 15px;
}
.Feed-Learn .feed img {
	opacity: 1;
}
.Feed-Learn .feed .img-wrap img:hover {
	opacity: 0.8;
}
.Feed-Learn .feed .img-wrap {
	-webkit-transition: none;
	transition: none;
}
.Feed-Learn .feed .stats {
	padding: 0;
}
.Feed-Learn .feed .stats li {
	display: inline-block;
	margin-right: 15px;
}
.Feed-Learn .feed .stats i {
	width: 20px;
}
.Feed-Learn .feed .tags {
    margin-top: 10px;
    float: right;
}
.Feed-Learn .feed hr {
	border-top-color: #aeaeae;
}

/*-- Feed Article --*/

/*-- Feed Album --*/
.Feed-Learn .feed-album h3 {
	position: absolute;
	bottom: 20%;
	padding: 0 32px;
}
.Feed-Learn .feed-album p {
	margin-top: 10px;
}

/*-- Feed Event --*/
.Feed-Learn .feed-event .date {
	width: 170px;
	text-align: center;
	border: 1px solid #aeaeae;
}
.Feed-Learn .feed-event h2 {
	margin: 0;
	padding: 5px 0;
}
