@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/ptsansnarrownormal-webfont.eot');
	src: url('../fonts/ptsansnarrownormal-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptsansnarrownormal-webfont.woff') format('woff'),
		url('../fonts/ptsansnarrownormal-webfont.ttf') format('truetype'),
		url('../fonts/ptsansnarrownormal-webfont.svg#pt_sans_narrowregular') format('svg');
	font-weight: normal;
}
@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/ptsansnarrowbold-webfont.eot');
	src: url('../fonts/ptsansnarrowbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptsansnarrowbold-webfont.woff') format('woff'),
		url('../fonts/ptsansnarrowbold-webfont.ttf') format('truetype'),
		url('../fonts/ptsansnarrowbold-webfont.svg#pt_sans_narrowbold') format('svg');
	font-weight: bold;
}
html, body{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 100%;
}