<!DOCTYPE html>
<html>
<head data-th-fragment="Global-Head(title)">
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="_csrf_header" data-th-content="${_csrf.headerName}"/>
  <meta name="_csrf" data-th-content="${_csrf.token}"/>

  <!-- css -->
  <link rel="stylesheet" href="#" type="text/css" data-th-href="@{/css/bootstrap-3.3.7.min.css}"/>
  <link rel="stylesheet" href="#" type="text/css" data-th-href="@{/css/bootstrap-theme-3.3.7.min.css}"/>
  <link rel="stylesheet" href="#" type="text/css" data-th-href="@{/css/fontawesome.min.css}"/>
  <link rel="stylesheet" href="#" type="text/css" data-th-href="@{/css/admin-site.css}"/>

  <!-- Scripts -->
  <script type="text/javascript" data-th-src="@{/js/jquery-1.12.4.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/bootstrap-3.3.7.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/handlebars-4.0.8.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/armand-1.0.0.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/admin-site.js}"></script>

  <!-- Title -->
  <title data-th-text="${title}">Title</title>
</head>